body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}

h1{
    font-size: 60px;
}

.header{
    display: flex;
    
    
}

.bg-colour{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width1{
    width: 70%;
    margin-top: 50px;
    margin-left: 6%;
}
.half-width2 img{
    width: 80%;
    margin-left: 6%;
    margin-top: 100px;
}

.half-width3 img{
    width: 90%;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 80px;
}

.half-width4{
    width: 70%;
    margin-top: 130px;
    margin-left: 6%;
}

.half-width5{
    width: 70%;
    
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 90px;
}

.half-width6{
    width: 70%;
    
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 90px;
}

.link-fb{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 6%;
}

.box{
    box-shadow: 10px 40px 60px gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}

.ex{
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
}